extends layout

block content
  .rex
    .ex
      img.className#IdName(src="images/logo.png" alt="eBay" style="height:75px;")
      h1= title
      p Andrew Peterson coding assessment March 2020
    .ex2
    .ex3

      h3 docs

      p check item eligibility
      .code-contain
        .code-block
          code POST http://localhost:3000/api
          .code-block
            pre
              p
                | {
                |    "title": "!959 Goya Nylon String Guitar",
                |    "price": 31500,
                |    "seller":"ndrwptrsn",
                |    "category":"33021"
                | }
            p 200 response
            pre
              p
                | {
                |    "elligible": false,
                |    "reason": "item.price 34999 !>= price_minimum 40000"
                | }

      p get eligibility rules
      .code-contain
        .code-block
          code GET http://localhost:3000/api/rules
          .code-block
            p 200 response
            pre
              p
              | [
              |  {
              |   "id": 1,
              |   "label": "eligible_seller",
              |   "attribute": "seller",
              |   "operator": "in",
              |   "comparator": {
              |    "model": "Seller",
              |    "attribute": "username"
              |   },
              |   "createdAt": "2020-03-25T11:38:44.694Z",
              |   "updatedAt": "2020-03-25T11:38:44.694Z"
              |  },
              |  {
              |   "id": 2,
              |   "label": "eligible_category",
              |   "attribute": "category",
              |   "operator": "in",
              |   "comparator": {
              |    "model": "Category",
              |    "attribute": "ebay_id"
              |   },
              |   "createdAt": "2020-03-25T11:38:44.694Z",
              |   "updatedAt": "2020-03-25T11:38:44.694Z"
              |  },
              |  {
              |   "id": 3,
              |   "label": "minimum_price",
              |   "attribute": "price",
              |   "operator": ">",
              |   "comparator": [
              |    1000
              |   ],
              |   "createdAt": "2020-03-25T11:38:44.694Z",
              |   "updatedAt": "2020-03-25T11:38:44.694Z"
              |  },
              |  {
              |   "id": 4,
              |   "label": "active_season",
              |   "attribute": "createdAt",
              |   "operator": "between",
              |   "comparator": [
              |    "1591230018000",
              |    "1593822018000"
              |   ],
              |   "createdAt": "2020-03-25T11:38:44.694Z",
              |   "updatedAt": "2020-03-25T11:38:44.694Z"
              |  }
              | ]

      p get eligibility rule by id or label
      .code-contain
        .code-block
          code GET http://localhost:3000/api/rules/1
          br
          code GET http://localhost:3000/api/rules/eligible_seller
          .code-block
            p 200 response
            pre
              p
              | {
              |  "id": 1,
              |  "label": "eligible_seller",
              |  "attribute": "seller",
              |  "operator": "in",
              |  "comparator": {
              |   "model": "Seller",
              |   "attribute": "username"
              |  },
              |  "createdAt": "2020-03-25T11:38:44.694Z",
              |  "updatedAt": "2020-03-25T11:38:44.694Z"
              | }

      p add eligibility rule
      .code-contain
        .code-block
          code POST http://localhost:3000/api/rules
            .code-block
              pre
                p
                | {
                |  "label": "summer_sale",
                |  "attribute": "date",
                |  "operator": "between",
                |  "comparator": [
                |   "1591230018000",
                |   "1593822018000"
                |  ]
                | }
              p 201 response
              pre
                p
                | {
                |  "id": 5,
                |  "label": "summer_sale",
                |  "attribute": "date",
                |  "operator": "between",
                |  "comparator": [
                |   "1591230018000",
                |   "1593822018000"
                |  ]
                |  "createdAt": "2020-03-25T11:38:44.694Z",
                |  "updatedAt": "2020-03-25T11:38:44.694Z"
                | }

      p update eligibility rule
      .code-contain
        .code-block
          code PATCH http://localhost:3000/api/rules/1
          .code-block
            pre
              p
                | {
                |    "label": "enrolled_seller"
                | }
            p 200 response
            pre
              p
              | {
              |  "id": 1,
              |  "label": "enrolled_seller",
              |  "attribute": "seller",
              |  "operator": "in",
              |  "comparator": {
              |   "model": "Seller",
              |   "attribute": "username"
              |  },
              |  "createdAt": "2020-03-25T11:38:44.694Z",
              |  "updatedAt": "2020-03-25T11:38:44.694Z"
              | }

      p remove eligibility rule by id or label
      .code-contain
        .code-block
          code DELETE http://localhost:3000/api/rules/1
          br
          code DELETE http://localhost:3000/api/rules/enrolled_seller
          .code-block
            p 200 response
            pre
              p
                | "rule with id: 1 and label: enrolled_seller removed"



      p get all enrolled sellers
      .code-contain
        .code-block
          code GET http://localhost:3000/api/sellers
          .code-block
            p 200 response
            pre
              p
                | [
                |  {
                |    "id": 1,
                |    "username": "ndrwptrsn",
                |    "createdAt": "2020-03-25T11:38:44.756Z",
                |    "updatedAt": "2020-03-25T11:38:44.756Z"
                |  },
                |  {
                |    "id": 2,
                |    "username": "aeeeo",
                |    "createdAt": "2020-03-25T17:31:41.385Z",
                |    "updatedAt": "2020-03-25T17:31:41.385Z"
                |  },
                |]

      p get enrolled seller by username
      .code-contain
        .code-block
          code GET http://localhost:3000/api/sellers/ndrwptrsn
          .code-block
            p 200 response
            pre
              p
                | {
                |   "id": 1,
                |   "username": "ndrwptrsn",
                |   "createdAt": "2020-03-25T11:38:44.756Z",
                |   "updatedAt": "2020-03-25T11:38:44.756Z"
                | }

      p add seller to enrollment
      .code-contain
        .code-block
          code POST http://localhost:3000/api/sellers
          .code-block
            pre
              p
                | {
                |    "username": "atman84"
                | }
            p 201 response
            pre
              p
              | {
              |   "id": 1,
              |   "username": "atman84",
              |   "createdAt": "2020-03-25T11:38:44.756Z",
              |   "updatedAt": "2020-03-25T11:38:44.756Z"
              | }

      p remove seller from enrollment
      .code-contain
        .code-block
          code DELETE http://localhost:3000/api/atman84
          .code-block
            p 200 response
            pre
              p
                | "seller atman84 removed"



      p get all categories from pre-approved list
      .code-contain
        .code-block
          code GET http://localhost:3000/api/categories
          .code-block
            p 200 response
            pre
              p
                | [
                |  {
                |    "id": 1,
                |    "ebay_id": 12345,
                |    "createdAt": "2020-03-25T11:38:44.756Z",
                |    "updatedAt": "2020-03-25T11:38:44.756Z"
                |  },
                |  {
                |    "id": 2,
                |    "ebay_id": 1234,
                |    "createdAt": "2020-03-25T17:31:41.385Z",
                |    "updatedAt": "2020-03-25T17:31:41.385Z"
                |  },
                |  {
                |    "id": 3,
                |    "ebay_id": 123,
                |    "createdAt": "2020-03-25T17:31:41.385Z",
                |    "updatedAt": "2020-03-25T17:31:41.385Z"
                |  },
                |]

      p get category from pre-approved list
      .code-contain
        .code-block
          code GET http://localhost:3000/api/categories/12345
          .code-block
            p 200 response
            pre
              p
                | {
                |   "id": 1,
                |   "ebay_id": 12345,
                |   "createdAt": "2020-03-25T11:38:44.756Z",
                |   "updatedAt": "2020-03-25T11:38:44.756Z"
                | }

      p add category to pre-approved list
      .code-contain
        .code-block
          code POST http://localhost:3000/api/sellers
          .code-block
            pre
              p
                | {
                |    "ebay_id": 123
                | }
            p 201 response
            pre
              p
              | {
              |   "id": 3,
              |   "ebay_id": 123,
              |   "createdAt": "2020-03-25T11:38:44.756Z",
              |   "updatedAt": "2020-03-25T11:38:44.756Z"
              | }

      p remove category from pre-approved list
      .code-contain
        .code-block
          code DELETE http://localhost:3000/api/categories/123
          .code-block
            p 200 response
            pre
              p
                | "category 123 removed"
